<div class="modal-header">
	<h3 class="modal-title">Edit {{ application.name }}</h3>
</div>

<div class="modal-body">

	<form name="form" role="form" ng-submit="save()" novalidate
		show-validation>

		<input type="submit" ng-disabled="!form.$valid"
			style="position: absolute; left: -9999px; width: 1px; height: 1px;" />

		<div class="form-group">

			<label>Name</label> <input type="text" class="form-control"
				name="name" placeholder="name"
				focus-me="{{ field === 'name' }}" ng-model="application.name">
		</div>

		<div class="form-group">

			<label>Description</label> <input type="text" class="form-control"
				name="description" placeholder="description"
				focus-me="{{ field === 'description' }}" ng-model="application.description"
				ng-minlength=1 ng-maxlength=256>

			<div ng-show="form.description.$dirty && form.description.$invalid">
				<p class="help-block" ng-show="form.firstName.$error.minlength">
					first name is required to be at least 1 character</p>
				<p class="help-block" ng-show="form.firstName.$error.maxlength">
					first name cannot be longer than 50 characters</p>
			</div>			
		</div>

		<div id="media-grid" external-scopes="gridScope" ui-grid="mediaGridOptions"
			ui-grid-infinite-scroll ui-grid-cellNav ui-grid-auto-resize ui-grid-selection></div>

		<button class="btn btn-primary" ng-click="addMedia()">Add Media</button>
		<button class="btn btn-danger" ng-click="removeMedia()">Remove Selected</button>

	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="save()"
		ng-disabled="!form.$valid">Save</button>
	<button class="btn btn-danger" ng-click="delete()">Delete</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>